@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.no-scroll {
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'Trade Gothic LT';
  src: url('/src/assets/fonts/TradeGothicLT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trade Gothic LT Bold';
  src: url('/src/assets/fonts/TradeGothicLT-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}